html{
  scroll-behavior: smooth;
}
body{
  font-family: arial, sans-serif;
  background-color: #000000;
  line-height: 1.3em;
}
h1{
  font-family: georgia, serif;
  text-align: center;
}
ol{
  width: 400px;
  margin: auto;
  line-height: 1.5em
  list-style-position: inside;
}
li{
  padding-bottom:5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  list-style-position: inside;
}
a{
  color: #777;
  text-decoration:none;
}
a:hover{
  color: #FE0101;
  text-decoration: underline;
}
h2{
  text-align: center;
}
.img{
  max-width: 100%;
}
.header{
  width: 500px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.wrapper{
  padding:25px;
  background-color:  #FFFFFF ;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
p{
  text-align: center;
}
